.entity {
  padding: 1em;

  & .cover {
    position: relative;
    height: 300px;
    overflow: hidden;

    & img {
      height: 300px;
      top: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    margin-bottom: 1em;
  }

  & .name {
    text-align: center;
  }

  & .back {
    cursor: pointer;
    text-align: center;
    margin-top: 2ch;
    padding-bottom: 2ch;
  }
}
