.WizardFooter {
  --gap: 100px;

  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);

  & .Roadmap {
     flex-grow: 1;
  }

  & .hidden {
    visibility: hidden;
  }

  & .fixed-width {
    width: 100px;
  }
}
